a {
    text-decoration: none;
}


<!-- OWN THEME CSS-->

.japan-body {
    background-image: url('IMAGES/japan.jpg');
    background-size: cover;
    color: #f4f4f4;
    height: 100vh;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.japan-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent dark overlay */
    z-index: 1;
}

.japan-header {
    background-color: #1c1c1c;
    color: #f4f4f4;
    padding: 20px 0;
    text-align: center; /* Center the text */
    border-bottom: 3px solid #2b455e;
    position: relative;
    z-index: 2;
    margin-bottom: 100px;
}

.japan-navbar {
    display: inline-block; /* Make navbar behave like inline-block */
}

.japan-navbar-nav {
    display: flex;
    justify-content: center; /* Center the nav links */
    margin: 0;
    padding: 0;
    list-style: none; /* Remove bullets from list */
}



.japan-navbar-nav .japan-nav-item {
    margin: 0 10px; /* Add spacing between items */
}

.japan-navbar .japan-nav-link {
    color: #f4f4f4 !important;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s;
}

.japan-navbar .japan-nav-link:hover {
    color: #c59ea2 !important;
}

.japan-cta-button {
    background-color: #c59ea2;
    color: #121212;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s;
}

.japan-main-content {
    padding: 60px 20px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.japan-main-content h1 {
    font-size: 56px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    color: #f4f4f4;
    font-weight: 700;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.japan-navbar-nav {
    margin-left: 0;
}

.japan-main-content p {
    font-size: 22px;
    margin-bottom: 40px;
    color: #f4f4f4;
    line-height: 1.8;
    max-width: 700px;
    margin: 0 auto;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* Increased text shadow */
}

.japan-main-content .japan-btn {
    background-color: #2b455e;
    color: #f4f4f4;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 25px;
    transition: background-color 0.3s;
    color: white;
}

.japan-main-content .japan-btn:hover {
    background-color: #808294;
}

.japan-header .japan-btn-signup {
    background-color: #c59ea2;
    color: white;
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 500;
    text-align: right;
    margin-right: 10px;
}

.japan-header .japan-btn-signup:hover {
    background-color: #f4f4f4;
    color: #121212;
}


<!-- HOLIDAY THEME CSS-->


.halloween-body {
    font-family: 'Times New Roman';
    background-image: url("IMAGES/spooky_bg.png");
    background-color: #cdc8b0;
    color: #333;
}

.halloween-header {
    color: #fff;
    padding: 20px 0;
    border-top: 2px solid #999999;
    border-bottom: 2px solid #999999;
}

.halloween-logo {
    background-color: #5e4b3a;
    border-radius: 50%;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: 'Georgia';
}

.halloween-nav-link {
    color: #cdcdcd;
    font-weight: bold;
    font-family: 'Georgia';
    margin-right: 40px;
    transition: all 0.3s ease;
}

.halloween-nav-link:hover {
    color: #F97300; /* Pumpkin orange for Halloween */
    text-decoration: underline; /* Optional: adds underline on hover */
}

.halloween-cta-button {
    background-color: #cdc8b0;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Georgia';
    font-weight: bold;
    border: 2px solid #828282;
    transition: all 0.3s ease;
}

.halloween-cta-button:hover {
    background-color: #F97300; /* Pumpkin orange for Halloween */
    border-color: #a65d00; /* Darker orange for border */
}

.halloween-main-content {
    padding: 50px 20px;
}

.halloween-main-content h1 {
    font-size: 70px;
    font-weight: bolder;
    margin-bottom: 20px;
    font-family: 'Comic Sans MS';
    color: #F97300; /* Pumpkin orange */
    border-bottom: 2px solid #cdc8b0;
    display: inline-block;
    padding-bottom: 10px;
}

.halloween-main-content p {
    font-size: 20px;
    margin-bottom: 40px;
    color: #999999;
    line-height: 1.6;
    font-family: 'Times New Roman';
    max-width: 800px;
    margin: 0 auto;
}

.halloween-main-content .halloween-btn {
    color: #cdcdcd;
    border-radius: 5px;
    font-family: 'Georgia';
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #cdcdcd;
    transition: all 0.3s ease;
    padding: 10px;
}

.halloween-main-content .halloween-btn:hover {
    background-color: #F97300; /* Pumpkin orange for Halloween */
    color: #fff; /* White text on hover */
    border-color: #a65d00; /* Darker orange for border */
}


<!-- OLD THEME CSS-->


.old-body {
    font-family: 'Times New Roman';
    background-image: url("IMAGES/main_bg.png");
    background-color: #cdc8b0;
    color: #333;
}

.old-header {
    color: #fff;
    padding: 20px 0;
    border: 2px solid #999999;
}

.old-logo {
    background-color: #5e4b3a;
    border-radius: 50%;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: 'Georgia';
}

.old-nav-link {
    color: #cdcdcd;
    font-weight: bold;
    font-family: 'Georgia';
    margin-right: 40px;
    transition: all 0.3s ease;
}

.old-nav-link:hover {
    color: #fff; /* Change to the color you want on hover */
    text-decoration: underline; /* Optional: adds underline on hover */
}

.old-cta-button {
    background-color: #cdc8b0;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Georgia';
    font-weight: bold;
    border: 2px solid #828282;
    transition: all 0.3s ease;
}

.old-cta-button:hover {
    background-color: #a8a8a8; /* Change to the color you want on hover */
    border-color: #666; /* Optional: change border color on hover */
}

.old-main-content {
    padding: 50px 20px;
}

.old-main-content h1 {
    font-size: 70px;
    font-weight: bolder;
    margin-bottom: 20px;
    font-family: 'Roman Wood Type JNL';
    color: #cdcdcd;
    border-bottom: 2px solid #828282;
    display: inline-block;
    padding-bottom: 10px;
}

.old-main-content p {
    font-size: 20px;
    margin-bottom: 40px;
    color: #999999;
    line-height: 1.6;
    font-family: 'Times New Roman';
    max-width: 800px;
    margin: 0 auto;
}

.old-main-content .old-btn {
    color: #cdcdcd;
    border-radius: 5px;
    font-family: 'Georgia';
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #cdcdcd;
    transition: all 0.3s ease;
}

.old-main-content .old-btn:hover {
    background-color: #cdcdcd; /* Change to the color you want on hover */
    color: #333; /* Change to the color you want on hover */
    border-color: #999; /* Optional: change border color on hover */
}


<!-- MODERN THEME CSS-->


.modern-body {
    color: black;
    position: relative;
}

.modern-header {
    margin-top: 20px;
    margin-bottom: 100px;
}

.modern-nav-link {
    color: black;
    transition: color 0.3s ease;
}

.modern-nav-link:hover {
    color: gray;
}

#modern-navbarNav {
    margin-bottom: 100px;
    width: 100%;
}

.modern-btn {
    color: white;
    background-color: rgb(61, 61, 61);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.modern-btn:hover {
    color: white;
    background-color: black;
}

/* Images around the corners */
#modern-flower, #modern-keyboard {
    position: absolute;
    z-index: 1;
}

#modern-flower {
    width: 400px;
    top: -120px;
    left: -110px;
}

#modern-keyboard {
    width: 600px;
    bottom: -250px;
    right: -5px;
}

@media (max-width: 768px) {
    #modern-flower, #modern-keyboard {
        display: none; 
    }

    .modern-header {
        margin-bottom: 50px;
    }

    .modern-main-content {
        padding: 20px;
    }
}
